@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

body {
  background-color: #2C2F33;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-container h1 {
  font-family: "Rubik", sans-serif;
  font-size: 6em;
  background: linear-gradient(to right, #00FFFF, #98ff98);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 15s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
